version: '3.7'
services:
  db:
    image: "mariadb:10.5.8"
    restart: always
    environment:
      MYSQL_DATABASE: linguagens
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3307:3306
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data: